<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test1">
		<parameter name="author" value="pragya" />
		<classes>
			<class name="testngDemo.testSuit">
				<methods>
					<include name="drop" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	<test name="Test2">
		<parameter name="author" value="pragya" />
		<classes>
			<class name="testngDemo.testSuit">
				<methods>
					<include name="dropDown" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
